
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="driveApp">
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/Libs/jQuery/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/Libs/AngularJS/angular.min.js"></script>
    <script src="~/Scripts/Home/app.js"></script>

    <title>Index</title>
</head>
<body>
    <div class="content" ng-controller="DriveCtrl">
        <table id="tbl-files">
            <thead id="tbl-files-section-title">
                <tr>
                    <th>Less 10Mb</th>
                    <th>10Mb-50Mb</th>
                    <th>More 100Mb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{currentDirectory.less10mb}}</td>
                    <td>{{currentDirectory.between10_50mb}}</td>
                    <td>{{currentDirectory.more100mb}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <h3>Current path: {{currentDirectory.currentPath}}</h3>
        <div ng-repeat="folder in currentDirectory.folders" 
             ng-click="currentDirectory.getDrives('{{folder}}')">
            {{folder}}
        </div>
        <hr/>
        <div ng-repeat="files in currentDirectory.files">{{files}}</div>
        <input type="button" ng-click="currentDirectory.getItems('E:\\')"/>
    </div>
</body>
</html>
